{{#if user.admin}}
<div class="add-big-container">
  <form method="post" action="/edit/Recipe/{{recipe._id}}" class="edit-recipe-form" enctype="multipart/form-data">

    <div class="form-title">
      <h1>Edit the recipe</h1>
      <button class="save-button">Save</button>
    </div>

    {{!------------------------------- name ----------------------------------}}
    <div class="form-item-wrapper">
      <img alt="edit-logo" src="/media/edit-logo.png" class="edit-logo" id="edit-name">
      <label for="recipe-name" class="label-name label">Name</label>
      <input type="text" class="input-text input" value="{{recipe.name}}" name="name" required>
    </div>

    {{!------------------------------- description ----------------------------------}}
    <div class="form-item-wrapper">
      <img alt="edit-logo" src="/media/edit-logo.png" class="edit-logo" id="edit-description">
      <label for="recipe-description" class="label-description label">Description</label>
      <input type="text" class="input-text input" name="description" id="recipe-description"
        value="{{recipe.description}}" required>
    </div>

    {{!----------------------------- preparation time ------------------------------}}
    <div class="form-item-wrapper">
      <img alt="edit-logo" src="/media/edit-logo.png" class="edit-logo" id="edit-time">
      <label for="preparation" class="label-prep label">Preparation time</label>
      <input type="number" class="input-number input" value="{{recipe.preparationTime}}" name="preparation" required>
    </div>

    {{!------------------------------- img ----------------------------------}}
    <div class="form-item-wrapper">
      <div><img alt="edit-logo" src="/media/edit-logo.png" class="edit-logo" id="edit-img"><img src="{{recipe.img}}"
          id="edit-img"></div>
      <label for="recipe-img" class="label-image label">Image</label>
      <input type="file" class="input-img input" name="img">
    </div>

    {{!------------------------------- ingredients ----------------------------------}}

    <div class="form-item-wrapper items-input">
      <div>
        <label for="edited-ingredient" class="label-ingredient label">Ingredients</label>
        <input name="ingredient" id="edited-ingredient" class="input-text input" placeholder="120g of butter">
        <a class="add-button" id="edit-btn-ingredient">+</a>
      </div>

      <fieldset id="edit-ing-checkbox">
        {{#each recipe.ingredients}}
        <div>
          <input type="checkbox" name="ingredients" id="ingredient" value="{{this}}" checked>
          <label for="ingredient" class="label-cat label">{{this}}</label>
        </div>
        {{/each}}
      </fieldset>
    </div>
    {{!------------------------------- instructions ----------------------------------}}
    <div class="form-item-wrapper items-input">
      <div>
        <label for="method" class="label-instructions label">Methods</label>
        <input type="text" name="instruction" class="input-text input" id="edited-instruction"
          placeholder="bake 30 minutes in the oven">
        <a class="add-button" id="edit-btn-method">+</a>
      </div>
      <fieldset id="edit-ins-checkbox">
        {{#each recipe.instructions}}
        <div>
          <input type="checkbox" name="instructions" id="instruction" value="{{this}}" checked>
          <label for="instruction" class="label-cat label">{{this}}</label>
        </div>
        {{/each}}
      </fieldset>
    </div>

    {{!------------------------------- category ----------------------------------}}
    <fieldset class="form-item-wrapper">
      <legend>Category</legend>
      {{#each category}}
      <div>
        <input type="checkbox" name="category" id="{{this.cat}}" value="{{this.cat}}" {{#if this.checked}} checked
          {{/if}}>
        <label for="{{this.cat}}" class="label-cat label">{{this.cat}}</label>
        {{/each}}
    </fieldset>

    {{!---------------------------- seasons ---------------------------------------}}

    <fieldset class="form-item-wrapper">
      <legend>Season</legend>
      {{#each season}}
      <div><input type="checkbox" name="season" id="{{this.seas}}" value="{{this.seas}}" {{#if this.checked}} checked
          {{/if}}>
        <label for="{{this.seas}}" class="label-cat label">{{this.seas}}</label></div>
      {{/each}}
    </fieldset>
  </form>

  {{/if}}