<section id="big-container">
  <div class="container">
    <div class="maxi-pic" id="pict_otd" style="background-image:url({{picture.img}}); background-size:cover">
    </div>
    <div class="mini-pic" id="drink_otd" style="background-image:url({{drink.img}}); background-size:cover">
      <div class="pict-hovered">
        <span>
          <div class="toque"><img alt="toque" src="/media/toque.png"></div>
          <h1>{{drink.name}}</h1>
          <p> {{drink.description}} </p>
          <div class="cooking-button"><a href="/show/{{drink._id}}">Cooking</a></div>
          </a>
        </span>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="mini-pic" id="sentence_otd" style="background-image:url(/media/IMG_3916.jpg); background-size:cover">
      <div class="pict-hovered">
        <span>
          <h3>{{moto.sentence}}</h3>
        </span>
      </div>
    </div>

    <div class="maxi-pic" id="recipe_otd" style="background-image:url({{recipe.img}}); background-size:cover">
      <div class="pict-hovered">
        <span>
          <div class="toque"><img alt="toque" src="/media/toque.png"></div>
          <h1>{{recipe.name}}</h1>
          <p>{{recipe.description}}</p>
          <div class="cooking-button"><a href="/show/{{recipe._id}}">Cooking</a></div>
          </a>


        </span>
      </div>
    </div>
  </div>

</section>