<section id="show-container">
  <div class="show-description">
    <h1 class="show-recipe-title">{{recipe.name}}</h1>
    <div class="line"></div>
    <h3 class="show-recipe-desc">{{recipe.description}}</h3>
  </div>
  <div class="show-img">
    <img alt="dish-pic" src="{{recipe.img}}">
  </div>
    <p class="show-prep">Preparation time : {{recipe.preparationTime}}min</p>

  <div class="show-ingredients">
    <h3 class="show-ingredients-title">Ingredients</h3>
    <ul class="ingredients-list">
      {{#each recipe.ingredients}}
      <li class="show-ingredient">{{this}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="show-methods">
    <h3 class="show-methods-title">Methods</h3>
    <ul class="methods-list">
      {{#each recipe.instructions}}
      <li class="methods-instruction"><span>{{this}}</span></li>
      {{/each}}
    </ul>

  </div>


</section>