<section id="show-container">
  <div class="show-description">
    <h1>{{recipe.name}}</h1>
    <h3>{{recipe.description}}</h3>
  </div>
  <div class="show-img">
    <img alt="dish-pic" src="{{recipe.img}}">
    <p>Temps de préparation : {{recipe.preparationTime}}min</p>
  </div>
  <div class="show-ingredients">
    <h3>Ingredients</h3>
    <ul>
      {{#each recipe.ingredients}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="show-methods">
    <h3>Methods</h3>
    <ul>
      {{#each recipe.instructions}}
      <li>{{this}}</li>
      {{/each}}
    </ul>

  </div>


</section>